<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="A premium admin dashboard template by mannatthemes" name="description">
    <meta content="Mannatthemes" name="author">
    <link th:href="@{/css/jquery-jvectormap-2.0.2.css}" rel="stylesheet" type="text/css"><!-- DataTables -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css">

    <title>Trang quản trị viên</title>

    <!--    UPLOAD-->
    <link rel="stylesheet" type="text/css" th:href="@{/rating.css}">
    <link href="/css/dropify.min.css" type="text/css" rel="stylesheet">

    <link href="/css/smart_wizard.css" rel="stylesheet" type="text/css">
    <link href="/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css">
    <link href="/css/smart_wizard_theme_circles.css" rel="stylesheet" type="text/css">

    <!--    DATE-->
    <link th:href="@{/css/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/css/tempusdominus-bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-clockpicker.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/asColorPicker.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/select2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-colorpicker.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" type="text/css">
    <!-- App css -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

    <!--    SEETALERT-->
    <link th:href="@{/css/sweetalert2.min.css}" type="text/css" rel="stylesheet">
</head>
<body>
<!--<div th:replace="/layout/admin/top-bar.html :: top-bar-admin"></div>-->
<!--<div th:replace="/layout/admin/midle-bar.html :: midle-bar-admin"></div>-->

<!--<div class="page-wrapper">-->
<!--    <div th:replace="/layout/admin/nav.html :: nav-admin"></div>-->
<!--    <div class="page-content">-->
<!--        <div id="root"></div>-->
<!--        <div th:replace="/layout/admin/footer.html :: footer-admin"></div>-->
<!--    </div>-->
<!--</div>-->

<div id="content">

</div>


<!-- Sweet-Alert  -->
<script th:src="@{/js/sweetalert2.min.js}"></script>
<script th:src="@{/js/jquery.sweet-alert.init.js}"></script>
<script th:src="@{/validate-data-admin.js}"></script>
<script th:src="@{/js/moment.js}"></script>

<script th:src="@{'/js/jquery.min.js'}"></script>
<script th:src="@{'/js/bootstrap.bundle.min.js'}"></script>

<script th:src="@{'/js/jquery.dashboard.init.js'}"></script>

<script th:src="@{/load-api.js}"></script>
<!--<script th:src="@{/load-user.js}"></script>-->
<!--<script th:src="@{/load-category-brand.js}"></script>-->
<!--<script th:src="@{/load-product.js}"></script>-->
<!--<script th:src="@{/load-voucher.js}"></script>-->
<!-- App js -->
<script th:src="@{'/js/app.js'}"></script>

</body>
</html>

