<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="A premium admin dashboard template by mannatthemes" name="description">
    <meta content="Mannatthemes" name="author">
    <link th:href="@{/web-admin/css/jquery-jvectormap-2.0.2.css}" rel="stylesheet" type="text/css"><!-- DataTables -->
    <link th:href="@{/web-admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web-admin/css/icons.css}" rel="stylesheet" type="text/css">

    <title>Trang quản trị viên</title>

    <!--    UPLOAD-->
    <link rel="stylesheet" type="text/css" th:href="@{/web-admin/rating.css}">
    <link href="/web-admin/css/dropify.min.css" type="text/css" rel="stylesheet">

    <link href="/web-admin/css/smart_wizard.css" rel="stylesheet" type="text/css">
    <link href="/web-admin/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css">
    <link href="/web-admin/css/smart_wizard_theme_circles.css" rel="stylesheet" type="text/css">

    <!--    DATE-->
    <link th:href="@{/web-admin/css/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/web-admin/css/tempusdominus-bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web-admin/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web-admin/css/jquery-clockpicker.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web-admin/css/asColorPicker.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web-admin/css/select2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web-admin/css/bootstrap-colorpicker.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web-admin/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/web-admin/css/jquery.bootstrap-touchspin.min.css}" rel="stylesheet" type="text/css">
    <!-- App css -->
    <link th:href="@{/web-admin/css/style.css}" rel="stylesheet" type="text/css">

    <!--    SEETALERT-->
    <link th:href="@{/web-admin/css/sweetalert2.min.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div th:replace="/layout/admin/top-bar.html :: top-bar-admin"></div>
<div th:replace="/layout/admin/midle-bar.html :: midle-bar-admin"></div>

<div class="page-wrapper">
    <div th:replace="/layout/admin/nav.html :: nav-admin"></div>
    <div class="page-content">
        <div id="data-user"></div>
        <div th:replace="/layout/admin/footer.html :: footer-admin"></div>
    </div>
</div>

<!-- Sweet-Alert  -->
<script th:src="@{/web-admin/js/sweetalert2.min.js}"></script>
<script th:src="@{/web-admin/js/jquery.sweet-alert.init.js}"></script>
<script th:src="@{/web-admin/validate-data-admin.js}"></script>
<script th:src="@{/web-admin/js/moment.js}"></script>

<script th:src="@{'/web-admin/js/jquery.min.js'}"></script>
<script th:src="@{'/web-admin/js/bootstrap.bundle.min.js'}"></script>

<script th:src="@{'/web-admin/js/jquery.dashboard.init.js'}"></script>

<script th:src="@{/web-admin/load-api.js}"></script>
<script th:src="@{/web-admin/load-user.js}"></script>
<script th:src="@{/web-admin/load-category-brand.js}"></script>
<!-- App js -->
<script th:src="@{'/web-admin/js/app.js'}"></script>

<script>

    function openProduct() {
        loadData('/admin/product/load', 0, 5)
        document.title = 'Quản lý sản phẩm'
    }

    function openInvoice() {
        loadData('/admin/invoice/load', 0, 5)
        document.title = 'Quản lý nhập hàng'
    }

    function openOrder() {
        loadData('/admin/bill-order/load', 0, 5)
        document.title = 'Quản lý hoá đơn thanh toán'
    }

    function openReturns() {
        loadData('/admin/returns/load', 0, 5)
        document.title = 'Quản lý hoá đơn trả hàng'
    }

    function openTransport() {
        loadData('/admin/transport/load', 0, 5)
        document.title = 'Quản lý hoá đơn vận chuyển'
    }

    function openVoucher() {
        loadData('/admin/voucher/load', 0, 5)
        document.title = 'Quản lý thương hiệu'
    }

    function openHistory() {
        loadData('/admin/history/load', 0, 5)
        document.title = 'Quản lý thương hiệu'
    }
</script>
</body>
</html>

