<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Top Bar Start -->
<div class="topbar" th:fragment="top-bar-admin">
    <!-- Navbar -->
    <nav class="navbar-custom">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="index.html" class="logo">
                <span>
                    <img src="/images/logo-sm.png" alt="logo-small" class="logo-sm">
                </span>
                <span>
                    <img src="/images/logo-dark.png" alt="logo-large" class="logo-lg">
                </span>
            </a>
        </div>
        <ul class="list-unstyled topbar-nav float-right mb-0">
            <li>
                <a class="dropdown-item" href="#" data-lang="vi" data-type="vi|en" onclick="fnTransfer(this)">
                    <i class="dripicons-gear text-muted mr-2"></i> English
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-lang="vi" data-type="vi|vi" onclick="fnTransfer(this)">
                    <i class="dripicons-lock text-muted mr-2"></i> Tiếng Việt
                </a>
            </li>
            <li>
                <a class="dropdown-item" th:href="@{/signout}">
                    <i class="dripicons-exit text-muted mr-2"></i> Đăng xuất
                </a>
            </li>
<!--            <li class="dropdown">-->
<!--                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user"-->
<!--                   data-toggle="dropdown" href="#" role="button" aria-haspopup="false"-->
<!--                   aria-expanded="false">-->
<!--                    <img src="/images/user-1.jpg" alt="profile-user" class="rounded-circle">-->
<!--                    <span class="ml-1 nav-user-name hidden-sm">-->
<!--                        <i class="mdi mdi-chevron-down"></i>-->
<!--                    </span>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-right">-->
<!--                    <a class="dropdown-item" href="#">-->
<!--                        <i class="dripicons-user text-muted mr-2"></i> Profile-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="#">-->
<!--                        <i class="dripicons-wallet text-muted mr-2"></i> My Wallet-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="#" data-lang="vi" data-type="vi|en" onclick="fnTransfer(this)">-->
<!--                        <i class="dripicons-gear text-muted mr-2"></i> English-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="#" data-lang="vi" data-type="vi|vi" onclick="fnTransfer(this)">-->
<!--                        <i class="dripicons-lock text-muted mr-2"></i> Tiếng Việt-->
<!--                    </a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" th:href="@{/signout}">-->
<!--                        <i class="dripicons-exit text-muted mr-2"></i> Đăng xuất-->
<!--                    </a>-->
<!--                </div>-->
<!--            </li>-->
            <li class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle nav-link" id="mobileToggle">
                    <div class="lines"><span></span> <span></span> <span></span></div>
                </a><!-- End mobile menu toggle-->
            </li>
        </ul>
        <ul class="list-unstyled topbar-nav mb-0">
            <li class="hide-phone app-search">
                <form role="search" class="">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href=""><i class="fas fa-search"></i></a>
                </form>
            </li>
        </ul>
    </nav><!-- end navbar-->
</div><!-- Top Bar End -->

</body>
</html>

