<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/web/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/web/assets/images/icons/site.html">
    <link rel="mask-icon" href="/web/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/web/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/web/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/web/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/web/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/style.css">
    <!-- add new css -->
    <div layout:fragment="css-web"></div>
    <title layout:fragment="title">START</title>
</head>
<body>
<div class="page-wrapper">
    <header class="header">
        <div th:replace="/layout/web/top-bar.html :: top-bar-web"></div>
<!--        <div th:replace="/layout/web/midle-bar.html :: midle-bar-web"></div>-->
        <div th:replace="/layout/web/nav.html :: nav-web"></div>
    </header>
    <main class="main" layout:fragment="content-web">
    </main>
    <footer class="footer footer-2">
        <div th:replace="/layout/web/top-footer.html :: top-footer-web"></div>
        <div th:replace="/layout/web/image-footer.html :: image-footer-web"></div>
        <div th:replace="/layout/web/midle-footer.html :: midle-footer-web"></div>
        <div th:replace="/layout/web/bottom-footer.html :: bottom-footer-web"></div>
    </footer>
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <div th:replace="/layout/web/mobile-menu.html :: mobile-menu-web"></div>
    <!-- Modal Signin - Signup -->
    <div th:replace="/layout/web/modal-signin.html :: modal-singin-web"></div>
<!--    <div th:replace="/layout/web/modal-event.html :: modal-event-web"></div>-->
</div>
<!-- Plugins JS File -->
<script src="/web/assets/js/jquery.min.js"></script>
<script src="/web/assets/js/bootstrap.bundle.min.js"></script>
<script src="/web/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/web/assets/js/jquery.waypoints.min.js"></script>
<script src="/web/assets/js/superfish.min.js"></script>
<script src="/web/assets/js/owl.carousel.min.js"></script>
<script src="/web/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
<script src="/web/assets/js/main.js"></script>
<script src="/web/assets/js/demos/demo-21.js"></script>
<div layout:fragment="script-web"></div>
</body>
</html>