<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container banner-container" th:fragment="banner-web">
    <div class="col-lg-4 col-md-8 col-sm-10 col-12 col-pd1">
        <a href="category.html">
            <img src="/web/assets/images/demos/demo-21/banner/banner-1.jpg">
        </a>
        <div class="banner-content">
            <div class="title">
                <a href="category.html"><h3 class="darkWhite">It's a lifestyle.</h3></a>
            </div>
            <div class="content">
                <a href="category.html"><h3>Running Apparel</h3></a>
                <a href="category.html"><h3>END OF SEASON SALE</h3></a>
            </div>
            <div class="action">
                <a href="category.html" class="btn btn-demoprimary">
                    <span>SHOP NOW</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div>
        </div><!-- End .row -->
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10 col-12 col-pd1">
        <a href="category.html">
            <img src="/web/assets/images/demos/demo-21/banner/banner-2.jpg">
        </a>
        <div class="banner-content">
            <div class="title">
                <a href="category.html"><h3 class="darkWhite">Hike Your Next Trail </h3></a>
            </div>
            <div class="content">
                <a href="category.html"><h3>NEW SEASON</h3></a>
                <a href="category.html"><h3>NEW GEAR</h3></a>
            </div>
            <div class="action">
                <a href="category.html" class="btn btn-demoprimary">
                    <span>DISCOVER NOW</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div>
        </div><!-- End .row -->
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10 col-12 col-pd1">
        <a href="category.html">
            <img src="/web/assets/images/demos/demo-21/banner/banner-3.jpg">
        </a>
        <div class="banner-content">
            <div class="title">
                <a href="category.html"><h3 class="darkWhite">Summer Sale</h3></a>
            </div>
            <div class="content">
                <a href="category.html"><h3>Swimwear sale</h3></a>
                <a href="category.html"><h3>Save up to 30%</h3></a>
            </div>
            <div class="action">
                <a href="category.html" class="btn btn-demoprimary">
                    <span>SHOP NOW</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div>
        </div><!-- End .row -->
    </div>
</div>
</body>
</html>