<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container category-banner" th:fragment="list-category-web">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <a href="category.html">
                <img src="/web/assets/images/demos/demo-21/banner/footware.jpg">
            </a>
            <div class="banner-content">
                <a href="category.html"><h3 class="category"> FOOTWEAR </h3></a>
                <a href="category.html" class="action">SHOP NOW</a>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <a href="category.html">
                <img src="/web/assets/images/demos/demo-21/banner/accessories.jpg">
            </a>
            <div class="banner-content">
                <a href="category.html"><h3 class="category"> ACCESSORIES </h3></a>
                <a href="category.html" class="action">SHOP NOW</a>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" >
            <a href="category.html">
                <img src="/web/assets/images/demos/demo-21/banner/mens.jpg">
            </a>
            <div class="banner-content">
                <a href="category.html"><h3 class="category"> MEN'S </h3></a>
                <a href="category.html" class="action">SHOP NOW</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <a href="category.html">
                <img src="/web/assets/images/demos/demo-21/banner/womens.jpg">
            </a>
            <div class="banner-content">
                <a href="category.html"><h3 class="category"> WOMEN'S </h3></a>
                <a href="category.html" class="action">SHOP NOW</a>
            </div>

        </div>
    </div>
</div>
</body>
</html>