<div class="card" xmlns:th="http://www.thymeleaf.org">
    <div class="card-body">
        <div class="d-flex mb-3">
            <h3 class="flex-grow-1 mt-0 header-title">
                Danh sách mã giảm giá
            </h3>
            <a class="btn btn-primary" href="#invoice" onclick="openInvoice()">
                Quay lại
            </a>
        </div>
        <form id="form-input-invoice" class="container">
            <input type="hidden" name="id" th:value="${invoice.id}"/>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">
                    Người kiểm tra
                </label>
                <div class="col-sm-10">
                    <select class="select2 form-control mb-3 custom-select" name="idChecker"
                            style="width: 100%; height:36px;">
                        <th:block th:each="user : ${lstUser}" th:object="${user}">
                            <option th:value="*{id}" th:selected="${invoice.idChecker == user.id}"
                                    th:text="*{fullName}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div id="input-product-form-invoice">
                <th:block th:unless="${#lists.isEmpty(invoice.invoiceDetails)}"
                          th:each="detail : ${invoice.invoiceDetails}" th:object="${detail}">
                    <div class="form-group row load-input-product-form-invoice">
                        <label class="col-sm-2 col-form-label text-right">
                            Sản phẩm
                        </label>
                        <div class="col-sm-10 row">
                            <div class="col-12">
                                <select class="select2 form-control mb-3 custom-select"
                                        name="idProduct" style="width: 100%; height:36px;">
                                    <th:block th:each="product : ${lstProduct}" th:object="${product}">
                                        <option th:value="*{id}" th:selected="${product.id == detail.idProduct}"
                                                th:text="*{name}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-sm-5 row">
                                <label class="col-sm-4 col-form-label text-right">
                                    Số lượng
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" placeholder="Số lượng nhập"
                                           name="quantity" maxlength="5" th:value="*{quantity}">
                                </div>
                            </div>
                            <div class="col-sm-6 row">
                                <label class="col-sm-4 col-form-label text-right">
                                    Giá nhập
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" placeholder="Giá nhập của sản phẩm"
                                           name="price" maxlength="10" th:value="*{price}">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <span class="btn btn-danger btn-sm delete-input-product-form-invoice">
                                    <span class="far fa-trash-alt mr-1"></span>
                                </span>
                            </div>
                            <!--end col-->
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="form-group row mb-0">
                <div class="col-sm-12">
                    <span class="btn btn-primary btn-md" onclick="addInputProductFormInvoice()">
                        <span class="fa fa-plus"></span>
                        Thêm sản phẩm
                    </span>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
            <hr/>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">Ghi chú</label>
                <div class="col-sm-10">
                    <textarea id="textarea" class="form-control" name="description" maxlength="100"
                              rows="3" placeholder="Nhập mô tả sự kiện" th:value="${invoice.description}"></textarea>
                </div>
            </div>
            <button class="btn btn-primary">Lưu lại</button>
        </form>
    </div>
    <!--end card-body-->
</div>
<!--end card-->

<script th:src="@{/js/daterangepicker.js}"></script>
<script th:src="@{/js/tempusdominus-bootstrap-4.js}"></script>
<script th:src="@{/js/bootstrap-material-datetimepicker.js}"></script>
<script th:src="@{/js/jquery-clockpicker.min.js}"></script>
<script th:src="@{/js/jquery-asColor.js}"></script>
<script th:src="@{/js/jquery-asGradient.js}"></script>
<script th:src="@{/js/jquery-asColorPicker.min.js}"></script>
<script th:src="@{/js/select2.min.js}"></script>
<script th:src="@{/js/bootstrap-colorpicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-maxlength.min.js}"></script>
<script th:src="@{/js/jquery.bootstrap-touchspin.min.js}"></script>
<script th:src="@{/js/jquery.clock-img.init.js}"></script>
<script th:src="@{/js/jquery.forms-advanced.js}"></script>

<script>
    $(document).ready(function () {
        addEventRemoveInputProductFormInvoice();
        let url = window.location.href + ''
        let path = url.substring(url.lastIndexOf("#") + 1)
        if (path !== 'form-edit-invoice') {
            addInputProductFormInvoice()
        }
    });

    function addEventRemoveInputProductFormInvoice() {
        let classParent = document.getElementsByClassName('load-input-product-form-invoice')
        let classRemove = document.getElementsByClassName('delete-input-product-form-invoice')
        if (classParent !== null && classParent !== undefined && classRemove !== null && classRemove !== undefined) {
            setTimeout(function () {
                for (let i = 0; i < classRemove.length; i++) {
                    classRemove[i].onclick = function () {
                        classParent[i].remove();
                    }
                }
            }, 10)
        }
    }

    $('#form-input-invoice').submit(function (e) {
        e.preventDefault();
        let form = $("#form-input-invoice").serializeArray()
        let obj = {};
        let arrIdProduct = []
        let arrQuantityProduct = []
        let arrPriceProduct = []
        let indexArrIdProduct = 0;
        let indexArrQuantityProduct = 0;
        let indexArrPriceProduct = 0;
        for (let i = 0; i < form.length; i++) {
            let name = form[i].name;
            let value = form[i].value;
            if (name === 'idProduct') {
                if (value === null || value === undefined || value === '') {
                    swal('Lỗi', 'Vui lòng chọn sản phẩm nhập', 'error');
                    return;
                }
                arrIdProduct[indexArrIdProduct] = value
                indexArrIdProduct++;
                continue
            }
            if (name === 'quantity') {
                let REGEX_NUMBER = /^[0-9]{1,4}$/
                if (value === null || value === undefined || value === '') {
                    swal('Lỗi', 'Vui lòng nhập số lượng sản hẩm', 'error');
                    return;
                } else if (!REGEX_NUMBER.test(value)) {
                    swal('Lỗi', 'Số lượng sản phẩm nhập phải là số nguyên dương', 'warning')
                    return
                } else if (Number(value) <= 0) {
                    swal('Lỗi', 'Số lượng sản phẩm nhập tối thiểu 1 sản phẩm', 'warning')
                    return
                }
                arrQuantityProduct[indexArrQuantityProduct] = value
                indexArrQuantityProduct++;
                continue
            }
            if (name === 'price') {
                let REGEX_NUMBER = /^[0-9]{3,10}$/
                if (value === null || value === undefined || value === '') {
                    swal('Lỗi', 'Vui lòng nhập giá nhập của sản phẩm', 'error');
                    return;
                } else if (!REGEX_NUMBER.test(value)) {
                    swal('Lỗi', 'Giá nhập là một số nguyên dương', 'warning')
                    return
                } else if (Number(value) <= 0) {
                    swal('Lỗi', 'Giá nhập phải lớn hơn 0', 'warning')
                    return
                }
                arrPriceProduct[indexArrPriceProduct] = value
                indexArrPriceProduct++;
                continue
            }
            if (name === 'idChecker') {
                if (value === null || value === undefined || value === '') {
                    swal('Lỗi', 'Vui lòng nhân viên kiểm tra sản phẩm', 'error');
                    return;
                }
            }
            obj[name] = form[i].value;
        }
        let arrProduct = [arrIdProduct.length]
        for (let i = 0; i < arrIdProduct.length; i++) {
            arrProduct[i] = {idProduct: arrIdProduct[i], quantity: arrQuantityProduct[i], price: arrPriceProduct[i]}
        }
        obj['invoiceDetails'] = arrProduct
        console.log(obj)
        if (obj.id !== null && obj.id !== undefined && obj.id !== '') {
            saveWithAPI(JSON.stringify(obj), '/api/invoices/' + obj.id, 'PUT', '/admin/load/invoice', 0, 5)
        } else {
            saveWithAPI(JSON.stringify(obj), '/api/invoices', 'POST', '/admin/load/invoice', 0, 5)
        }
    })

    function addInputProductFormInvoice() {
        let countInputProductFormInvoice = document.getElementsByClassName('load-input-product-form-invoice')
        if (countInputProductFormInvoice === null || countInputProductFormInvoice === undefined || countInputProductFormInvoice.length < 15) {
            $.ajax({
                url: '/admin/load/invoice/form/product',
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + getSession('access_token'));
                },
                success: function (response) {
                    $('#input-product-form-invoice').append(response)
                    addEventRemoveInputProductFormInvoice();
                }
            })
        } else {
            swal('Thông báo!', 'Mỗi hoá đơn tối đa 15 sản phẩm', 'warning')
        }
    }


</script>