<div class="card" xmlns:th="http://www.thymeleaf.org">
    <div class="card-body">
        <div class="d-flex mb-3">
            <h3 class="flex-grow-1 mt-0 header-title">
                Danh sách đặt hàng
            </h3>
            <a class="btn btn-primary" href="#form-order" onclick="openFormOrder()">
                Thêm đặt hàng
            </a>
        </div>
        <div class="table-responsive">
            <table class="table mb-0 table-centered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nhân viên nhập</th>
                    <th>Nhân viên bán hàng</th>
                    <th>Người đặt</th>
                    <th>Người nhận</th>
                    <th>Mã giảm giá</th>
                    <th>Phương thức</th>
                    <th>Đã thanh toán</th>
                    <th>Tổng tiền</th>
                    <th>Ngày đặt</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="order, theCount: ${lstOrder}" th:object="${order}">
                    <tr>
                        <td>#</td>
                        <td th:text="*{nameCreator}">Nhân viên nhập</td>
                        <td th:text="*{nameSaller}">Nhân viên bán hàng</td>
                        <td th:text="*{nameUser}">Người đặt</td>
                        <td th:text="*{fullName}">Người nhận</td>
                        <td th:text="*{codeVoucher}">Mã giảm giá</td>
                        <td th:text="*{paymentMethod}">Phương thức</td>
                        <td th:if="*{paymentStatus}">
                            <span class="badge badge-success">Đã thanh toán</span>
                        </td>
                        <td th:unless="*{paymentStatus}">
                            <span class="badge badge-warning">Chưa thanh toán</span>
                        </td>
                        <td th:text="*{#numbers.formatDecimal(totalPrice - (priceVoucher != null ? priceVoucher : 0), 0, 'COMMA', 0, 'POINT')+'đ'}"></td>
                        <td th:text="*{#dates.format(dateCreated, 'dd-MM-yyyy HH:mm:ss')}">Ngày đặt</td>
                        <td th:unless="*{status}">
                            <span class="badge badge-purple">Hoạt động</span>
                        </td>
                        <td th:if="*{status}">
                            <span class="badge badge-danger">Khoá</span>
                        </td>
                        <td class="text-center">
                            <div class="dropdown d-inline-block float-right">
                                <a class="nav-link dropdown-toggle arrow-none" id="dLabel4"
                                   data-toggle="dropdown" style="cursor: pointer" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel4">
                                    <a class="dropdown-item" href="#modal-detail-invoice"
                                       data-toggle="modal" data-animation="bounce"
                                       onclick="detailOrder(this)" th:data-id="*{id}">
                                        Chi tiết
                                    </a>
                                    <a class="dropdown-item" href="#form-edit-order"
                                       onclick="openFormEditOrder(this)" th:data-id="*{id}">
                                        Chỉnh sửa
                                    </a>
                                    <a th:if="*{status}" class="dropdown-item" href="#bill-order" th:data-id="*{id}"
                                       data-data="false" data-method="status" onclick="removeOrder(this)">
                                        Mở khoá
                                    </a>
                                    <a th:unless="*{status}" class="dropdown-item" href="#bill-order" th:data-id="*{id}"
                                       data-data="true" data-method="status" onclick="removeOrder(this)">
                                        Khoá
                                    </a>
                                    <a th:if="*{paymentStatus}" class="dropdown-item" href="#bill-order"
                                       th:data-id="*{id}"
                                       data-data="false" data-method="payment-status" onclick="removeOrder(this)">
                                        Huỷ thanh toán
                                    </a>
                                    <a th:unless="*{paymentStatus}" class="dropdown-item" href="#bill-order"
                                       th:data-id="*{id}"
                                       data-data="true" data-method="payment-status" onclick="removeOrder(this)">
                                        Thanh toán
                                    </a>
                                    <a th:if="*{#lists.isEmpty(transports)}" class="dropdown-item" href="#bill-order"
                                       th:data-id="*{id}" onclick="addTransportWithIdOrder(this)">
                                        Tạo vận đơn
                                    </a>
                                    <a th:if="*{paymentStatus}" class="dropdown-item" href="#form-returns"
                                       th:data-id="*{id}" onclick="openFormReturn(this)">
                                        Trả hàng
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <!--end /table-->
        </div>
        <!--end /tableresponsive-->
        <nav th:if="${totalPage > 1}" aria-label="..." class="pagination custom-pagination float-right">
            <ul class="list-unstyled">
                <li th:unless="${page == 0}" class="list-inline-item">
                    <a class="page-link bg-primary text-light" style="cursor: pointer" onclick="clickPage(this)"
                       th:data-index="${page - 1}"
                       aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li th:if="${page - 2 > 0}" class="list-inline-item">
                    <a class="page-link" style="cursor: pointer" tabindex="-1" onclick="clickPage(this)"
                       th:data-index="${0}">1</a>
                </li>
                <li th:if="${page - 2 > 1}" class="list-inline-item">
                    <a class="page-link" style="cursor: pointer" tabindex="-1">...</a>
                </li>
                <th:block th:each="index, theCount: ${#numbers.sequence(0, totalPage - 1)}">
                    <th:block th:if="${index < page + 2 && index >= page - 2}">
                        <li th:if="${index == page}" class="list-inline-item">
                            <a class="page-link bg-dark text-white" style="cursor: pointer" tabindex="-1"
                               th:text="${index + 1}"></a>
                        </li>
                        <li th:unless="${index == page}" class="list-inline-item">
                            <a class="page-link" style="cursor: pointer" tabindex="-1" onclick="clickPage(this)"
                               th:data-index="${index}"
                               th:text="${index + 1}"></a>
                        </li>
                    </th:block>
                </th:block>
                <li th:if="${totalPage - 3 > page}" class="list-inline-item">
                    <a class="page-link" style="cursor: pointer" tabindex="-1">...</a>
                </li>
                <li th:if="${totalPage - 2 > page}" class="list-inline-item">
                    <a class="page-link" style="cursor: pointer" tabindex="-1" onclick="clickPage(this)"
                       th:data-index="${totalPage - 1}"
                       th:text="${totalPage}"></a>
                </li>
                <li th:unless="${page + 1 == totalPage}" class="list-inline-item">
                    <a class="page-link bg-primary text-light" onclick="clickPage(this)" style="cursor: pointer"
                       th:data-index="${page + 1}"
                       aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
            <!--end pagination-->
        </nav>
    </div>
    <!--end card-body-->
</div>
<!--end card-->

<script>

    function addTransportWithIdOrder(e) {
        let obj = {"idOrder": e.dataset.id}
        saveWithAPI(JSON.stringify(obj), '/api/transports', 'POST', '/admin/bill-order/load', 0, 5)
    }

    function detailOrder() {

    }

    function removeOrder(e) {
        let id = e.dataset.id
        let method = e.dataset.method
        console.log(e.dataset.data)
        $.ajax({
            url: '/api/orders/' + id + '/' + method,
            type: 'PUT',
            data: {'status': (e.dataset.data === 'true')},
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + getSession('access_token'));
            },
            success: function (response) {
                swal("Thành công", "Thay đổi trạng thái hoá đơn đặt hàng", "success")
                loadData('/admin/bill-order/load', 0, 5)
            },
            error: function (data) {
                swal("Thất bại", data.responseJSON.message, "warning")
            }
        });
    }
</script>