<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div class="tab-pane fade" id="product-info-tab" role="tabpanel"
     aria-labelledby="product-info-link" th:fragment="details-product-tab-2-web">
    <div class="product-desc-content">
        <div class="container">
            <h2 class="text-center mb-3 mt-3">Thông số kỹ thuật</h2>
            <div class="row">
                <th:block th:each="detailProduct : ${product.detailsProduct}" th:object="${detailProduct}"
                          th:if="${detailProduct.idValueDetails == '2'}">
                    <div class="col-lg-6 mb-2">
                        <h3 th:text="*{title}">Kích thước</h3>
                        <p th:utext="*{description}"></p>
                        <hr/>
                    </div>
                </th:block>
                <div class="col-lg-6" th:unless="${product.pathUserManual == null}">
                    <h3>Tải hướng dẫn sử dụng</h3>
                    <p>
                        <a th:href="@{'/download/path-user-manual/'+${product.pathUserManual}}">
                            Hướng dẫn sử dụng sản phẩm
                        </a>
                    </p>
                </div>
            </div>
        </div><!-- End .container -->
    </div><!-- End .product-desc-content -->
</div><!-- .End .tab-pane -->
</body>
</html>