<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
     aria-labelledby="product-desc-link" th:fragment="details-product-tab-1-web">
    <div class="product-desc-content">
        <div class="row">
            <th:block th:each="detailProduct : ${product.detailsProduct}" th:object="${detailProduct}" th:if="${detailProduct.idValueDetails == '1'}">
                <div class="col-lg-6 mb-2">
                    <div class="product-desc-row bg-image text-white"
                         th:style="'background-image: url('+@{${detailProduct.pathBanner}}+');'">
                        <div class="container"
                             style="margin-left: 30px; margin-right: 30px; border: 2px solid #9766ff59; background: rgba(1, 30, 65, 0.9)">
                            <h1 style="color: white; margin-top: 30px; " class="mb-5" th:text="*{title}">Design</h1>
                            <p style="font-size:17px; color:white;margin-bottom: 30px;" th:utext="*{description}"></p>
                        </div>
                    </div>
                </div><!-- End .col-md-6 -->
            </th:block>
        </div><!-- End .row -->
    </div><!-- End .product-desc-content -->
</div><!-- .End .tab-pane -->
</body>
</html>